@model GroceryShoppingCart.Models.Catagory
@{
    ViewBag.Title = @Model.Name;
}
<br/>
<br/>

<div class="row"style="background-color:gainsboro">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model.Name == "Food & Grocery")
             {
              <li class="active">
              <a href="~/StoreFront/Index/1">Food & Grocery</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/1">Food & Grocery</a>
              </li>
             }
            @if (Model.Name == "Beverages")
             {
              <li class="active">
              <a href="~/StoreFront/Index/2">Beverages</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/2">Beverages</a>
              </li>
             }
            @if (Model.Name == "Bread & Bakrey")
             {
              <li class="active">
              <a href="~/StoreFront/Index/3">Bread & Bakrey</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/3">Bread & Bakrey</a>
              </li>
             }
            @if (Model.Name == "Dairy Products")
             {
              <li class="active">
              <a href="~/StoreFront/Index/4">Dairy Products</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/4">Dairy Products</a>
              </li>
             }
            @if (Model.Name == "Dry Products")
             {
              <li class="active">
              <a href="~/StoreFront/Index/5">Dry Products</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/5">Dry Products</a>
              </li>
             }
            @if (Model.Name == "Frozen/Produced Products")
             {
             <li class="active">
              <a href="~/StoreFront/Index/6">Frozen/Produced Products</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/6">Frozen/Produced Products</a>
              </li>
             }
            @if (Model.Name == "Cleaner")
             {
              <li class="active">
              <a href="~/StoreFront/Index/7">Cleaner</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/7">Cleaner</a>
              </li>
             }
            @if (Model.Name == "Personal Care")
             {
              <li class="active">
              <a href="~/StoreFront/Index/8">Personal Care</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/8">Personal Care</a>
              </li>
             }
            @if (Model.Name == "Fruit & Vegetables")
             {
              <li class="active">
              <a href="~/StoreFront/Index/9">Fruit & Vegetables</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/9">Fruit & Vegetables</a>
              </li>
             }
            @if (Model.Name == "Baby Products")
             {
              <li class="active">
              <a href="~/StoreFront/Index/10">Baby Products</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/10">Baby Products</a>
              </li>
             }
            @if (Model.Name == "Seasoning & Spice")
             {
              <li class="active">
              <a href="~/StoreFront/Index/12">Seasoning & Spice</a>
              </li>
             }
             else
             {
              <li>
              <a href="~/StoreFront/Index/12">Seasoning & Spice</a>
              </li>
             }
        </ul>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach(var product in Model.Products)
             {
                <div class="col-xs-12 col-md-3">
                <div class="thumbnail">
                    <img class="img-responsive" src="~/Images/Uploads/Products//@product.Id/Thumbs/@product.ImageName" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
                    <div class="caption text-center">
                        <p>
                            <b>Name:</b><span>@product.Name</span>
                        </p>
                        <p>
                            <b>Price:</b><span>@product.Price</span>
                        </p>
                        <p class="text-center">
                            @*<a class="button" ng-click="increaseItemCount(item)">+</a>*@
                            @Html.ActionLink("Add to cart", "Add", "AddToCart", new { id = product.Id }, new { @class = "btn btn-info" })
                            @*<a class="button" ng-click="decreaseItemCount(item)">-</a>*@
                        </p>
                    </div>
                </div>
              </div>
             }
        </div>
    </div>
  </div>
   