@model GroceryShoppingCart.Models.Catagory
@{
    ViewBag.Title = @Model.Name;
}
<br/>
<br/>

<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model.Name == "Food & Grocery")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/1">Food & Grocery</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/1">Food & Grocery</a>
                </li>
            }
            @if (Model.Name == "Beverages")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/2">Beverages</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/2">Beverages</a>
                </li>
            }
            @if (Model.Name == "Bread & Bakrey")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/3">Bread & Bakrey</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/3">Bread & Bakrey</a>
                </li>
            }
            @if (Model.Name == "Dairy Products")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/4">Dairy Products</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/4">Dairy Products</a>
                </li>
            }
            @if (Model.Name == "Dry Products")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/5">Dry Products</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/5">Dry Products</a>
                </li>
            }
            @if (Model.Name == "Frozen/Produced Products")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/6">Frozen/Produced Products</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/6">Frozen/Produced Products</a>
                </li>
            }
            @if (Model.Name == "Cleaner")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/7">Cleaner</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/7">Cleaner</a>
                </li>
            }
            @if (Model.Name == "Personal Care")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/8">Personal Care</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/8">Personal Care</a>
                </li>
            }
            @if (Model.Name == "Fruit & Vegetables")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/9">Fruit & Vegetables</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/9">Fruit & Vegetables</a>
                </li>
            }
            @if (Model.Name == "Baby Products")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/10">Baby Products</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/10">Baby Products</a>
                </li>
            }
        </ul>
    </div>
    @if (Model != null)
     {
        
        <div class="row">
            @foreach (var product in Model.Products)
             {
                
                    <div class="col-md-4">
                    <h4><span id="productname" style="color:darkred">@product.Name</span></h4>
                    <p><span class="glyphicon glyphicon-heart" style="color:red;pointer-events:fill;" contextmenu="Added to WishList"></span></p>
                </div>
                <a href="@Url.Action("EachProductDetails", "Products", new {id = product.Id })">
                    <img class="a.photo" src="~/Images/Uploads/Products//@product.Id/Thumbs/@product.ImageName" style="overflow:hidden;position:relative;width:200px;height:200px;cursor:pointer" />
                </a>
                <p><a class="btn btn-default" href="">ProductDetails &raquo;</a></p>
                <p><span class="glyphicon glyphicon-shopping-cart" style="color:green"></span></p>
             }
              </div>
        
     }
  </div>

