@{
    ViewBag.Title = "About";
}
<h2>About As</h2>
<div class="row"style="background-color:gainsboro">
    <h2>Our business idea: Sweden's cheapest food box</h2>
    <p>
        <b>we have been driven by one and the same idea. That good food should not cost more than necessary. Much has changed over the years, but one thing remains unchanged.
        With us you will always find great food at low prices. </b>
    </p>
    <p>
        Our business idea is to offer you Sweden's cheapest food box. It does not matter who you are or what food you like. In order for us to succeed, 
        two things are important: our wide range and our low standard prices.
    </p>
    <p>
        In our stores there are over ten thousand goods. Here you will find everything from fresh, seasonal fresh produce and organic to really good and affordable everyday food. 
        Are you looking for well-known brands or alternatives challenging with an extra fair price? It does not matter, we have the choice.
        With us you will find everything listed on your shopping list. It is one of the prerequisites for us to live up to our business concept.
    </p>
    <p>
        Another prerequisite is of course low prices. Every day, all year round, we work hard to keep as low prices as possible throughout our range - not just on selected promotional goods.
        Because after all, there are always low prices that make your food box the cheapest with us.
    </p>
</div>


