@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us:</h2>
<div class="row" style="background-color:gainsboro">
    <p>
        <b>You as a customer are important to us and we are here to help you if you have questions or concerns regarding e-commerce, Shoptown and our stores or our product range.</b>
    </p>
    <p><b>Do you have questions? </b></p>
    <p>
        Feel free to take a look at our most common questions and answers . If you do not find your answer there, please feel free to contact us and we will do our best to help you. For questions related to Shoptown or E-commerce, we offer phone support.
        For other questions, please refer to the form at the bottom of this page. If you wish to contact our stores directly, you will find phone numbers and addresses here .
    </p>
    <p><span class="glyphicon glyphicon-phone"></span><b>Phone Number Shoptown & E-Commerce: 0771-71 70 00</b></p>
    <h3>Hours:</h3>
    <h6>E-TRADE</h6>
    <p>
        Mon-Fri 8-22
        Sat 10-18
        Sun 10-22
    </p>
    <hr />
    <h3>Contact us by email</h3>
    <p>To contact us by e-mail, please fill out the form below and we will answer your question as soon as possible. Please enter your Shoptown number or your social security number for faster handling of your case.</p>
    <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    <div class="col-sm-7 slideanim">
        <div class="row">
            <div class="col-sm-6 form-group">
                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
            <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit">Send</button>
            </div>
        </div>
    </div>
</div>




