@{
    ViewBag.Title = "Welcome";
}

@*<div id="myPage" class="jumbotron" style="padding:0">
<img src="~/Content/image/shoptown.jpg" style="width:100%" />
</div>*@
@*<h3 class="text-center">Click on a category below to get started</h3>*@
<br />

<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/1">
                <h2>Food & Grocery</h2>
                <img src="~/Content/image/Food&Grcoeryicon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/2">
                <h2>Beverages</h2>
                <img src="~/Content/image/beverages.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/3">
                <h2>Bread & Bakery</h2>
                <img src="~/Content/image/breadBakrey.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/4">
                <h2>Dairy Products</h2>
                <img src="~/Content/image/dairyProductsicon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/5">
                <h2>Dry Products</h2>
                <img src="~/Content/image/Dryproducticon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/6">
                <h2>Frozen Products</h2>
                <img src="~/Content/image/frozenicon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/7">
                <h2>Cleaner</h2>
                <img src="~/Content/image/cleanerIcon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/8">
                <h2>Personal Care</h2>
                <img src="~/Content/image/personalcareIcon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/9">
                <h2>Fruit&Vegetables</h2>
                <img src="~/Content/image/FruitVegetablesIcon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/10">
                <h2>Baby Products</h2>
                <img src="~/Content/image/babycareicon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/StoreFront/Index/12">
                <h2>Seasoning & Spice</h2>
                <img src="~/Content/image/spicesicon.png" alt="" style="overflow:hidden;position:relative;width:100px;height:100px;cursor:pointer" />
            </a>
        </div>
    </div>
</div>
