@model GroceryShoppingCart.Models.Cart
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show Cart</h2>
@if(Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>price</th>
                <th>Quantity</th>
                <th>Total Money</th>
                <th>Delete</th>
            </tr>
         </thead>
         <tbody>
             @foreach(var item in Model.CartId)
             {
                 //decimal total = item.
             }
         </tbody>
    </table>
}

